<!docutype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>main ejs template</title>
    </head>
    <body>
        <h1>Main page</h1>
        <h3>Welcome !! <%= id %>번째 가입 고객님!! </h3>

        <img src="image/img.jpg" alt="" width="300px">
        <script src="main.js">
        </script>

        <p>정말로 반가워요 :)</p>

        <div><a href="/logout">logout</a></div>
    </body>
</html>