<!docutype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>welcome ejs template</title>
    </head>
    <body>
        <h1>Welcome !! <%= name %> </h1>
        
        <p><%= id %> 번째 가입자 입니다 :)</p>
        <p>정말로 반가워요 :)</p>
    </body>
</html>